:root{
    /* Theme colors for main page */
    --theme-color-1: rgb(218, 218, 218);
    --theme-color-2: rgb(255, 255, 255);
    /* Green button color scheme */
    --green-default: rgb(0, 200, 0);
    --green-hover: rgb(45, 210, 45);
    --green-active: rgb(10, 155, 10);
    /* Red button color scheme */
    --red-default: rgb(255, 0, 0);
    --red-hover: rgb(200, 10, 10);
    --red-active: rgb(180, 10, 10);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--theme-color-2);
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    box-shadow: 0px 5px 2px rgb(187, 187, 187);
    z-index: 1;
}

main{
    background-color: var(--theme-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* + New Book Button and Sort By: drop-down select list */
#addAndSort{
    display: flex;
    gap: 40px;
    margin: 40px;
}

#newBook{
    background-color: rgb(250, 235, 215);
    font-size: 1.3rem;
    font-weight: 800;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#newBook:hover{
    background-color: rgb(255, 225, 186);
}

#newBook:active{
    background-color: rgb(252, 213, 161);
}

#sortBy{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

#sortBy option:nth-child(even){
    background-color: rgb(195, 199, 199);
}



/* Overlay + Modal + Form */
#overlay{
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.75);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#modal{
    display: none;
    position: relative;
    background-color: rgb(212, 205, 205);
    box-shadow: 0 0 10px 10px rgb(128, 121, 121);
    width: 400px;
    height: 500px;    
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

form > input{
    font-size: 1.2rem;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

form > div{
    display: flex;
    gap: 10px;
}

form h1{
    margin: 0;
    padding: 0;
}

form label{
    font-weight: bold;
    font-size: 1.2rem;
}

#readCheckbox{
    width: 20px;
    height: 20px;
}

#addBook{
    background: var(--green-default);
    font-size: 1.4rem;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    width: 80%;
    padding: 10px;
    cursor: pointer;
}

#addBook:hover{
    background: var(--green-hover);
}

#addBook:active{
    background: var(--green-active);
}

#closeModalBtn{
    position: absolute;
    background-color: red;
    font-weight: 800;
    aspect-ratio: 1/1;
    font-size: 28px;
    width: 40px;
    right: -20px;
    top: -20px;
    cursor: pointer;
}




/* Grid + books */
#bookGrid{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 450px;
    gap: 50px;
    margin-bottom: 40px;
}

.book{
    background-color: rgb(185, 155, 100);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(156, 135, 88);
    min-width: 250px;
    max-width: 400px;
}

.book h1,
.book h2,
.book p{
    text-align: center;
}



/* Read/Not Read buttons */
.readButton{
    background: var(--green-default);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.4rem;
    width: 80%;
}

.readButton:hover{
    background: var(--green-hover);
}

.readButton:active{
    background: var(--green-active);
}

.notReadButton{
    background: var(--red-default);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.4rem;
    width: 80%;
}

.notReadButton:hover{
    background: var(--red-hover);
}

.notReadButton:active{
    background: var(--red-active);
}



/* Remove book button and second modal to prompt confirmation */
.removeBookBtn{
    background: var(--red-default);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.4rem;
    width: 80%;
}

.removeBookBtn:hover{
    background: var(--red-hover);
}

.removeBookBtn:active{
    background: var(--red-active);
}

#modal2{
    display: none;
    flex-direction: column;
    position: relative;
    background-color: rgb(211, 200, 200);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(128, 121, 121);
}

#modal2 h1{
    text-align: center;
    margin: 10px;
}

#modal2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

#close2ndModalBtn{
    position: absolute;
    background-color: red;
    font-weight: 800;
    aspect-ratio: 1/1;
    font-size: 28px;
    width: 40px;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

#yesDelete{
    background: var(--green-default);
    border-radius: 10px;
    font-size: 1.4rem;
    width: 40%;
    padding: 20px;
    cursor: pointer;
}

#yesDelete:hover{
    background: var(--green-hover);
    
}

#yesDelete:active{
    background: var(--green-active);
}

#noDelete{
    background: var(--red-default);
    border-radius: 10px;
    font-size: 1.4rem;
    width: 40%;
    padding: 20px;
    cursor: pointer;
}

#noDelete:hover{
    background: var(--red-hover);
}

#noDelete:active{
    background: var(--red-active);
}






/* footer */
footer{
    background: var(--theme-color-2);
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px -5px 2px rgb(187, 187, 187);
}