:root{
    --theme-color-1: rgb(218, 218, 218);
    --theme-color-2: rgb(255, 255, 255);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--theme-color-2);
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    box-shadow: 0px 5px 2px rgb(187, 187, 187);
    z-index: 1;
}



main{
    background-color: var(--theme-color-1);
    padding-top: 20px;
    flex: 1;
}

#main-content{
    display: flex;
    justify-content: center;
}

#newBook{
    background-color: rgb(250, 235, 215);
    font-size: 1.3rem;
    font-weight: 800;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

#newBook:hover{
    background-color: rgb(255, 225, 186);
}

#newBook:active{
    background-color: rgb(252, 213, 161);
}






footer{
    background: var(--theme-color-1);
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}





/* Overlay / Modal */
#overlay{
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.75);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#modal{
    position: relative;
    background-color: rgb(114, 85, 85);
    width: 400px;
    height: 500px;    
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

form > input{
    font-size: 1.2rem;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

form > div{
    display: flex;
    gap: 10px;
}

form h1{
    margin: 0;
    padding: 0;
}

#addBook{
    background-color: rgb(123, 255, 123);
    font-size: 1.4rem;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    width: 80%;
    padding: 10px;
}

#closeModalBtn{
    position: absolute;
    background-color: red;
    font-weight: 800;
    aspect-ratio: 1/1;
    font-size: 28px;
    width: 40px;
    right: -20px;
    top: -20px;
    cursor: pointer;
}